:root {
    --color-background: #eeeeee;
    --color-container: #d0ddff;
    --color-shadow: #A1D6E2;
    --color-button: #A57C65;
}

@font-face {
    font-family: 'Roboto1';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
body{
    background-color: var(--color-background);
}
header,
nav,
main{
    background-color: var(--color-container);
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 70%;
    margin: 0 auto 5px auto;
    align-items: center;
}
main{
    box-shadow: 0px 5px 0px 0px var(--color-shadow);
    margin-bottom: 50px;
}
.text{
    font-family: 'Roboto1' ;
}
.nameUniversity{
    font-size: 24px;
}
.conteinerTextHeader{
    margin-left: 20px;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: center;
}
.navPage{
    padding: 10px;
    transition: .3s;
}
.navPage::before{
    content: "> ";
}
.navPage:hover{
    background-color: var(--color-shadow);
    cursor: pointer;
    color: var(--color-background);
    transition: .3s;
}
.active{
    box-shadow: 0px -5px 0px 0px var(--color-shadow) inset;
}
.HomePage{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.conteinerRR{
    background-color: var(--color-shadow);
    padding: 20px;
}
article{
    background-color: var(--color-shadow);
    /*border: 1px solid black;*/
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    transition: .3s;
}
article:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgb(0 0 0 / 24%);
}

.imgToolPenetration{
    transition: .3s;
    height: 250px;
    /*margin: 15px;*/
}
main{
    flex-direction: column;
    align-items: center;
}
.taskPage{
    margin-top: 30px;
    font-size: 24px;
    font-weight: 600;
}
.btnSelect{
    margin-bottom: 10px;
    background-color: var(--color-button);
    color: var(--color-background);
    border: none;
    border-radius: 2px;
    font-size: 18px;
    padding: 6px 12px;
    text-transform:uppercase;
}
.btnSelect:hover{
    cursor: pointer;
}
.lineCreateData{
    display: flex;
    margin-bottom: 4px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.lineCreateData input {
    width: 70px;
    margin-left: 5px;
    outline: none;
}
.contentHomePage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 30px  0  30px 0;
}
.textInArticle{
    background-color:var(--color-shadow) ;
    color: black;
    padding: 15px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 24%);
    border-radius: 2px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 0;
    margin: 10px;
    text-indent: 1em;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    transition: .3s;
}
article:hover > .textInArticle{
    cursor: pointer;
    opacity: 0.85;
    visibility: visible;
    transition: .3s;
}
.PageResultData{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}
.importantText{
    background-color: var(--color-shadow);
    font-weight: bold;
}
@media (max-width: 1200px) {
    header,
    nav,
    main{
        width: 100%;
    }
}