:root {
    --color-background: #eeeeee;
    --color-container: #d0ddff;
    --color-shadow: #A1D6E2;
    --color-button: #A57C65;
}

@font-face {
    font-family: 'Roboto1';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
body{
    background-color: var(--color-background);
}
header,
nav,
main{
    background-color: var(--color-container);
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 70%;
    margin: 0 auto 5px auto;
    align-items: center;
}
.text{
    font-family: 'Roboto1' ;
}
.nameUniversity{
    font-size: 24px;
}
.conteinerTextHeader{
    margin-left: 20px;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: center;
}
.navPage{
    padding: 10px;
    transition: .3s;
}
.navPage::before{
    content: "> ";
}
.navPage:hover{
    background-color: var(--color-shadow);
    cursor: pointer;
    color: var(--color-background);
    transition: .3s;
}
.conteinerRR{
    background-color: var(--color-shadow);
}
article{
    background-color: var(--color-shadow);
    /*border: 1px solid black;*/
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    transition: .3s;
}
article:hover {
    background-color: var(--color-button);
    cursor: pointer;
}
article:hover .imgToolPenetration{
    transform: scale(1.05);
}
.imgToolPenetration{
    transition: .3s;
    height: 250px;
    /*margin: 15px;*/
}
main{
    flex-direction: column;
    align-items: center;
}
.taskPage{
    margin-top: 30px;
    font-size: 24px;
    font-weight: 600;
}
.btnSelect{
    margin-bottom: 10px;
    background-color: var(--color-button);
    color: var(--color-background);
    border: none;
    font-size: 18px;
    padding: 6px 12px;
    text-transform:uppercase;
}
.btnSelect:hover{
    cursor: pointer;
}
.lineCreateData{
    display: flex;
    margin-bottom: 4px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.lineCreateData input {
    width: 70px;
    margin-left: 5px;
    outline: none;
}
.contentHomePage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 30px  0  30px 0;
}

@media (max-width: 1200px) {
    header,
    nav,
    main{
        width: 100%;
    }
}